@model IEnumerable<JobPosting.Models.Application>

@{
    ViewBag.Title = "Index";
    
}

<h2>Index</h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Posting.Position.PositionCode)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Posting.Position.PositionDescription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Applicant.apFullName)
        </th>

        
 
        @*<th>
            @Html.DisplayNameFor(model => model.Posting.pstJobDescription)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            Applicant's Qualifications
        </th>
        <th>
            Applicant's Skills
        </th>
        <th>
            Resume
        </th>
        <th>
            Comment
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Posting.Position.PositionCode)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Posting.Position.PositionDescription)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Applicant.apFullName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Posting.pstJobDescription)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            
            @foreach (var jq in item.Posting.JobRequirements)
            {
                bool flag = true;
                foreach (var aq in item.ApplicationsQualifications)
                {
                    if (jq.QualificationID == aq.QualificationID)
                    {

                        <p style="color:green">@jq.Qualification.QlfDescription</p>
                        flag = false;
                        break;
                    }

                }
                if (flag)
                {
                    <p style="color:red">@jq.Qualification.QlfDescription</p>
                }

            }
        </td>
        <td>
            
            @foreach (var ps in item.Posting.PostingSkills)
            {
                bool flag = true;
                foreach (var s in item.ApplicationSkills)
                {
                    if (ps.SkillID == s.skillID)
                    {

                        <p style="color:green">@ps.Skill.SkillDescription</p>
                        flag = false;
                        break;
                    }

                }
                if (flag)
                {
                        <p style="color:red">@ps.Skill.SkillDescription</p>
                }

            }
        </td>
        <td>
            @foreach (var f in item.BinaryFiles)
            {
                @: @Html.ActionLink(f.FileName, "Download", new { id = f.ID})
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID, postingID = item.Posting.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
