@model IEnumerable<JobPosting.Models.Application>

@{
    ViewBag.Title = "Index";


}

@section Scripts {
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    <script src="~/Scripts/date-picker.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var flag = $("#NumPositionFlag").val();
            var ID = $("#ID").val();
            if (!flag) {
                if (confirm("The Posting is already reached maximum posible Number of Position. Do you want to continue to add?")) {
                    $.ajax({
                        type: 'GET',
                        url: '/Applications/Accept',
                        data: { id: ID, numPosition: 1 },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",


                    });
                }

            }
    
        })

    </script>
}


<h2>Index</h2>
@if (!ViewBag.NumPositionFlag)
{
    <input type="hidden" id="NumPositionFlag" value=@ViewBag.NumPositionFlag>
    <input type="hidden" id="ID" value=@ViewBag.ID>
}
else {
    <input type="hidden" id="NumPositionFlag" value="true">

}

@using (Html.BeginForm())
{
    <p>
        Select By Posting:  @Html.DropDownList("PostingID", null, "All Postings", htmlAttributes: new { @class = "form-control" }) <br>
        <input type="submit" value="Filter" class="btn btn-default" />
        @Html.ActionLink("Clear", "Index")
    </p>

}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Posting.Position.PositionCode)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Posting.Position.PositionDescription)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Applicant.apFullName)
        </th>



        @*<th>
                @Html.DisplayNameFor(model => model.Posting.pstJobDescription)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            Applicant's Qualifications
        </th>
        <th>
            Applicant's Skills
        </th>
        <th>
            Resume
        </th>
        <th>
            Comment
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Available == true)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Posting.Position.PositionCode)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Posting.Position.PositionDescription)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Applicant.apFullName)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Posting.pstJobDescription)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>

                    @foreach (var jq in item.Posting.JobRequirements)
                    {
                        bool flag = true;
                        foreach (var aq in item.ApplicationsQualifications)
                        {
                            if (jq.QualificationID == aq.QualificationID)
                            {

                                <p style="color:green">@jq.Qualification.QlfDescription</p>
                                flag = false;
                                break;
                            }

                        }
                        if (flag)
                        {
                            <p style="color:red">@jq.Qualification.QlfDescription</p>
                        }

                    }
                </td>
                <td>

                    @foreach (var ps in item.Posting.PostingSkills)
                    {
                        bool flag = true;
                        foreach (var s in item.ApplicationSkills)
                        {
                            if (ps.SkillID == s.skillID)
                            {

                                <p style="color:green">@ps.Skill.SkillDescription</p>
                                flag = false;
                                break;
                            }

                        }
                        if (flag)
                        {
                            <p style="color:red">@ps.Skill.SkillDescription</p>
                        }

                    }
                </td>
                <td>
                    @foreach (var f in item.BinaryFiles)
                    {
                        @: @Html.ActionLink(f.FileName, "Download", new { id = f.ID })
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID, postingID = item.Posting.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }) |
                    @Html.ActionLink("Accept", "Accept", new { id = item.ID })
                </td>
            </tr>
        }
    }

</table>

