@model JobPosting.Models.Applicant

@{
    ViewBag.Title = "Applicant Profile";
}

<h2>Applicant Profile</h2>

<div>
    <h4>Profile for: @Model.apFullName</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.apFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apFirstName)
        </dd>
        @if (Model.apMiddleName != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.apMiddleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apMiddleName)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.apLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apEMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apPostalCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
</p>
