@model JobPosting.Models.Position

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.JobGroup.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobGroup.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Union.UnionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Union.UnionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionDayofWork)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionDayofWork)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionFTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionFTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionCompensation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionCompensation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionCompensationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionCompensationType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
