@model JobPosting.Models.Position

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.PositionDescription</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PositionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobGroup.GroupTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobGroup.GroupTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Union.UnionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Union.UnionName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.PositionFTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionFTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionCompensationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionCompensationType)
        </dd>

        <dt>
            Location
        </dt>

        <dd>
            @{
            IEnumerable<JobPosting.Models.JobLocation> jobLocations = ViewBag.JobLocations;
            foreach (var l in jobLocations)
            {
                @: @Html.DisplayFor(lModel => l.Location.Address) <br />
            }
            }
        </dd>

        <dt>
            Day of Work
        </dt>

        <dd>
            @foreach (var d in Model.Days)
            {
            @: @Html.DisplayFor(dModel => d.dayName) <br />
            }
        </dd>


        <dt>
            Requirements
        </dt>

        <dd>
            @{
            IEnumerable<JobPosting.Models.JobRequirement> jobRequirements = ViewBag.jobRequirements;
            foreach (var r in jobRequirements)
            {
                @: @Html.DisplayFor(rModel => r.Qualification.QlfDescription) <br />
        }
            }
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
