@model IEnumerable<JobPosting.Models.Position>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm())
{
    <input type="hidden" name="sortDirection" value="@ViewBag.sortDirection" />
    <input type="hidden" name="sortField" value="@ViewBag.sortField" />
    <p>
        Select By Job Group: @Html.DropDownList("JobGroupID", null, "All Job Groups", htmlAttributes: new { @class = "form-control" }) <br>
        Select By Union:  @Html.DropDownList("UnionID", null, "All Positions", htmlAttributes: new { @class = "form-control" }) <br>
        Select By Job Code: @Html.TextBox("SearchString", null, new { @class = "form-control" }) <br>

        <input type="submit" name="actionButton" value="Filter" class="btn btn-default" />
        @Html.ActionLink("Clear", "Index")
    </p>


<table class="table">
    <tr>
        <th>
            <input type="submit" name="actionButton" value="Job Type" class="btn btn-link" />
        </th>
        <th>
            <input type="submit" name="actionButton" value="Union" class="btn btn-link" />
        </th>
        <th>
            <input type="submit" name="actionButton" value="Job Code" class="btn btn-link" />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobGroup.GroupTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Union.UnionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
}