@model JobPosting.Models.Posting

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Posting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position.PositionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.PositionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pstNumPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstNumPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pstFTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstFTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pstSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pstJobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstJobDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.PositionCompensationType)
        </dt>

        <dd>
            @if (Model.Position.PositionCompensationType == 1)
            {
                @: Hourly
            }
            else if (Model.Position.PositionCompensationType == 2)
            {
                @:Monthly
            }
            else if (Model.Position.PositionCompensationType == 3)
            {
                @:Yearly
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pstOpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstOpenDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pstEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstEndDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
