@model JobPosting.Models.Posting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Posting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position.PositionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.PositionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.PositionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.PositionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pstNumPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstNumPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.PositionCompensationType)
        </dt>

        <dd>
            @if (Model.Position.PositionCompensationType == 1)
            {
               @: Hourly
            }
            else if (Model.Position.PositionCompensationType == 2)
            {
                @:Monthly
            }
            else if (Model.Position.PositionCompensationType == 3)
            {
                @:Yearly
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.PositionSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.PositionSalary)
        </dd>

         <dt>
            Location
        </dt>

        <dd>
            @{
                IEnumerable<JobPosting.Models.JobLocation> jobLocations = Model.Position.JobLocations;
                foreach (var l in jobLocations)
                {
                @: @Html.DisplayFor(lModel => l.Location.Address) <br />
            }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pstJobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstJobDescription)
        </dd>


        <dt>
            Day of Work
        </dt>

        <dd>
            @foreach (var d in Model.Position.Days)
            {
            @: @Html.DisplayFor(dModel => d.dayName) <br />
            }
        </dd>


        <dt>
            Requirements
        </dt>

        <dd>
            @{
                IEnumerable<JobPosting.Models.JobRequirement> jobRequirements = Model.Position.JobRequirements;
                foreach (var r in jobRequirements)
                {
                @: @Html.DisplayFor(rModel => r.Qualification.QlfDescription) <br />
        }
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pstOpenDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstOpenDate)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.pstEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pstEndDate)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Apply", "Create", "Applications", new { id = Model.ID }, new { @class = "btn btn-primary"}) |
    @Html.ActionLink("Back to List", "Index")
</p>

