@model JobPosting.Models.Posting

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Job Posting</h4>
    <hr />

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.RowVersion)

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.pstNumPosition, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.pstNumPosition, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pstNumPosition, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pstFTE, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.pstFTE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pstFTE, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pstCompensationType, "Compensation Type", htmlAttributes: new { @class = "control-label" })
                    @Html.DropDownList("pstCompensationType", new SelectListItem[]
       {
new SelectListItem { Value = "1", Text = "Hourly"},
new SelectListItem { Value = "2", Text = "Monthly"},
new SelectListItem { Value = "3", Text = "Yearly"}
       }, "Select Compensation Type", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.pstCompensationType, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pstSalary, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.pstSalary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pstSalary, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pstJobDescription, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.pstJobDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.pstJobDescription, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PositionID, "Position", htmlAttributes: new { @class = "control-label" })

                    @Html.DropDownList("PositionID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PositionID, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label class="control-label">Current Locations</label>
                    @Html.ListBox("selectedLocation", (MultiSelectList)ViewBag.JobLocations, htmlAttributes: new { @class = "form-control listBox custom-select2", @id = "locationListBox" })
                    
                </div>

                <div class="form-group">
                    <label class="control-label">Current Days of Work</label>
                    @Html.ListBox("selectedDay", (MultiSelectList)ViewBag.pDays, htmlAttributes: new { @class = "form-control listBox custom-select2", @id = "dayListBox" })
                    
                </div>

                <div class="form-group">
                    <label class="control-label">Current Requirements</label>
                    @Html.ListBox("selectedQualification", (MultiSelectList)ViewBag.JobRequirements, htmlAttributes: new { @class = "form-control listBox custom-select2", @id = "qualificationListBox" })
                    
                </div>

                <div class="form-group">
                    <label class="control-label">Current Skills</label>
                    @Html.ListBox("selectedSkill", (MultiSelectList)ViewBag.PostingSkills, htmlAttributes: new { @class = "form-control listBox custom-select2", @id = "skillListBox" })
                    
                </div>
            </div>



            <div class="col-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.pstOpenDate, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.pstOpenDate, new { htmlAttributes = new { @class = "form-control datetime-picker", onkeydown = "return false", onpaste = "return false" } })
                    @Html.ValidationMessageFor(model => model.pstOpenDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pstEndDate, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.pstEndDate, new { htmlAttributes = new { @class = "form-control datetime-picker", onkeydown = "return false", onpaste = "return false" } })
                    @Html.ValidationMessageFor(model => model.pstEndDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pstJobStartDate, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.pstJobStartDate, new { htmlAttributes = new { @class = "form-control date-picker", onkeydown = "return false", onpaste = "return false" } })
                    @Html.ValidationMessageFor(model => model.pstJobStartDate, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.pstJobEndDate, htmlAttributes: new { @class = "control-label" })

                    @Html.EditorFor(model => model.pstJobEndDate, new { htmlAttributes = new { @class = "form-control date-picker", onkeydown = "return false", onpaste = "return false" } })
                    @Html.ValidationMessageFor(model => model.pstJobEndDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" id="submit" />
                </div>
            </div>


        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-timepicker-addon.min.js"></script>
    <script src="~/Scripts/date-picker.js"></script>
    <script src="~/Scripts/checkExisted.js"></script>
    <script src="~/Scripts/Code.js"></script>
    
}
