@model IEnumerable<JobPosting.Models.Posting>

@{
    ViewBag.Title = "Index";
    var Positions = ViewBag.Positions;
}

<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-10">
            <h2>Job Postings</h2>
        </div>
        @if (!User.IsInRole("User"))
        {
            <div class="col-2">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-lg">Create New Posting</button>

                @*Modal Begin Here*@
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Create Job Posting</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                @Html.ActionLink("Create New", "Create", new { @class = "nav-link" }, new { @class = "btn btn-info" })

                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>
                                                Job Template Name
                                            </th>
                                            <th></th>
                                        </tr>
                                        @foreach (var p in Positions)
                                        {
                                            string positionName = p.PositionDescription;
                                            foreach (var pt in ViewBag.postingTemplate)
                                            {
                                                if (pt.PositionID == p.ID)
                                                {
                                                    string name = pt.templateName;
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(at => name)
                                                        </td>
                                                        <td>
                                                            @Html.ActionLink(" Use Template", "Create", new { name = (string)pt.templateName }, new { @class = "btn btn-info" })
                                                            @Html.ActionLink("Delete", "DeleteTemplate", new { name = (string)pt.templateName }, new { @class = "btn btn-danger" })
                                                        </td>

                                                    </tr>
                                                }
                                            }
                                        }
                                    </thead>
                                </table>
                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*Modal Ends Here*@

            </div>
        }
    </div>
    @using (Html.BeginForm())
    {
        ICollection<JobPosting.Models.Posting> postingsAITop1 = ViewBag.PostingsAITop1;
        ICollection<JobPosting.Models.Posting> postingsAITop2 = ViewBag.PostingsAITop2;
        if (postingsAITop1 != null)
        {
            foreach (var item in postingsAITop1)
            {
                <p> @Html.ActionLink(item.Position.PositionDescription, "Details", new { id = item.ID, userID = ViewBag.userID }) Group ID: @Html.DisplayFor(modelItem => item.Position.JobGroupID)</p>
            }
        }
        if (postingsAITop2 != null)
        {
            foreach (var item in postingsAITop2)
            {
                <p> @Html.ActionLink(item.Position.PositionDescription, "Details", new { id = item.ID, userID = ViewBag.userID }) Group ID: @Html.DisplayFor(modelItem => item.Position.JobGroupID)</p>
            }
        }
    
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <div class="card">
                    <div class="card-body">

                        <p>
                            Select By Job Group:
                            @Html.DropDownList("JobGroupID", null, "All Job Groups", htmlAttributes: new { @class = "form-control custom-select2" }) <br>
                            Select By Position:
                            @Html.DropDownList("PositionID", null, "All Positions", htmlAttributes: new { @class = "form-control custom-select2" }) <br>
                            Select By Location:
                            @Html.DropDownList("Location", null, "All Locations", htmlAttributes: new { @class = "form-control custom-select2" }) <br>
                            Select By Payment Type:
                            @Html.DropDownList("PaymentTypeID", new SelectListItem[]
{
                                                                        new SelectListItem{Value = "1", Text = "Hourly"},
                                                                        new SelectListItem{Value = "2", Text = "Monthly"},
                                                                        new SelectListItem{Value = "3", Text = "Yearly"}
},
"All Types", htmlAttributes: new { @class = "form-control" }) <br />
                            <input type="submit" value="Filter" class="btn btn-default" />
                            @Html.ActionLink("Clear", "Index")
                        </p>

                    </div>
                </div>
            </div>
            <div class=" col-md-12 col-lg-9">
                <table class="table table-hover table-sm">
                    <thead class="thead-dark">

                        <tr>
                            <th>
                                <input type="submit" name="actionButton" value="Job Code" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Job Title" class="btn btn-link" />
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pstNumPosition)
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Locations" class="btn btn-link" />
                            </th>
                            @if (!User.IsInRole("User"))
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.pstOpenDate)
                                </th>
                            }
                            <th></th>
                        </tr>
                    </thead>
                    @foreach (var item in Model)
                    {
                        if (item.Enabled)
                        {
                            bool flag = true;
                            if (User.IsInRole("Hiring Team") || User.IsInRole("User"))
                            {
                                if (item.CreatedBy != User.Identity.Name)
                                {
                                    flag = false;
                                }
                            }
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Position.PositionCode)
                                </td>
                                <td>
                                    @Html.ActionLink(item.Position.PositionDescription.ToString(), "Details", new { id = item.ID, userID = ViewBag.userID })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pstNumPosition)
                                </td>
                                <td>
                                    @foreach (var l in ViewBag.JobLocations)
                                    {
                                        if (l.PostingID == item.ID)
                                        {
                                            <p>@l.Location.Address</p>
                                        }
                                    }
                                </td>

                                @if (!User.IsInRole("User"))
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.pstOpenDate)
                                    </td>
                                }

                                @if (flag)
                                {
                                    <td>
                                        <div class="">
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = " badge badge-pill badge-warning" })
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = " badge badge-pill badge-danger" })
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    }

                </table>
                <input type="hidden" name="sortDirection" value="@ViewBag.sortDirection" />
                <input type="hidden" name="sortField" value="@ViewBag.sortField" />

            </div>
        </div>
    }
</div>
