@model IEnumerable<JobPosting.Models.Posting>

@{
    ViewBag.Title = "Index";
    var Positions = ViewBag.Positions;
}

<h2>Index</h2>

<ul>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle">Create New - Menu<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink("Create New", "Create")</li>
            @foreach (var p in Positions)
            {
                string positionName = p.PositionDescription;
                <li class="divider"></li>
                <li>@Html.ActionLink("Follow " + positionName, "Create", new { id = p.ID })</li>
            }
        </ul>
    </li>
</ul>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position.PositionCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.PositionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pstNumPosition)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.pstOpenDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    bool flag = true;
    if (User.IsInRole("Hiring Team") || User.IsInRole("User"))
    {
        if (item.CreatedBy != User.Identity.Name)
        {
            flag = false;
        }
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Position.PositionCode)
        </td>
        <td>
            @Html.ActionLink(item.Position.PositionDescription.ToString(), "Details", new { id = item.ID})
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pstNumPosition)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.pstOpenDate)
        </td>

        
        @if (flag)
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
        }
    </tr>
}

</table>
